* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: white;
  color:black; 
  min-height: 100%;
}

h1{
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 50px;
  text-align:center;
  border: 5;
}
|
h2{
  font-family: sans-serif;
  text-align: center;
  color: rgb(233, 79, 18);
}

h3{
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 20px;
}

a, p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing:auto;
    font-size: medium;
    text-decoration: none;
    color:black;    
}

header{
    flex-wrap: wrap;

}

.emcabezado{
    flex-wrap:wrap;
    display: flex;
    align-items: center; 
    justify-content:space-around;
    padding: 15px;
}

.logo{
    height: 70px; 
    margin-right: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color: chocolate;
}

.container_navegador, .container_login{
    border-style: solid;
    flex-wrap:wrap;
    display: flex;
    border-radius: 10px;
    border-color: chocolate;
}

.navegador{
    flex-wrap:wrap;
    display: flex;
    padding: 10px;
}

li{
    list-style: none;   
    padding: 10px;
    margin: 0px;
    margin-right: 10px;
}

li a:hover {
    color: rgb(233, 79, 18);
}

.login, #zonaLogin{
    display: flex; 
    justify-content: center; 
    
}

.login a{
    display: block; 
    padding: 12px 15px; 
    margin: 5;
    text-decoration: none; 
    color: white; 
    text-align: center;
    border-radius: 5px; 
    transition: all 0.3s ease; 
  
  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  background-color: rgb(233, 79, 18);
}

.login a:hover {
  background-color: rgb(141, 137, 122); 
  color: white; 
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.container_buscador{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
}

.fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

/* Efecto para oscurecer la imagen y mejorar la lectura */
.fondo::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    border-radius: inherit;
}

/* Asegurar que el contenido esté encima */
.fondo * {
    position: relative;
    z-index: 5;
}

.button_buscador button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}

.buscador-container {
    width: 300px;
    position: relative;
    font-family: sans-serif;
}

.buscador {
    display: flex;
    align-items: center;
    background: rgb(233, 79, 18);
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid;
}

.buscador input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgb(233, 79, 18);
    color: white;
}

.icono-lupa {
    margin-left: 8px;
    cursor: pointer;
}

/* Lista desplegable */
.resultados {
    position: absolute;
    top: 50px;
    width: 100%;
    background: rgb(233, 79, 18);
    border: 1px solid;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    max-height: 180px;
    overflow-y: auto;
    display: none; /* Se muestra con JS */
}

.resultados li {
    padding: 10px;
    cursor: pointer;
}

.resultados li:hover {
    background: rgb(233, 79, 18);
}

#main {
    flex-wrap: wrap;
    padding: 15px;
}

.container_destinos {
    display: flex;
    flex-wrap: wrap;       /* Permite que pasen a la siguiente línea si hay muchas */
    justify-content: center; /* Centra en horizontal */
    align-items: center;     /* Centra en vertical */
    gap: 20px;               /* Espacio entre cards */
    padding: 20px;
}

.card {
  max-width: 450px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  background: #dbdbe3b2;
}

.nombre {
  height: 50px;
  text-align: center;
}

.pagina {
  margin-top: 18px;
}

.imagen {
  border-radius: 10px;
  height: 350px;
  width: 350px;
}

.container_video{
    display:flex; 
    align-items: center; 
    justify-content:center;
    width: 65%; 
    margin: 5px auto; 
    padding: 15px; 
      border-collapse: collapse; 
      border: 1px solid #65626c;
    border-radius: 12px; 
       overflow: hidden;
    background-color: #65626c;
    border-style: solid;
}

video{ 
    display: block; 
    padding: 10px 10px; 
    margin: 10px 10px;
    text-decoration: none; 
    color: white; 
    text-align: center;
    border-radius: 12px; 
    transition: all 0.3s ease; 

}

.publicidad_contenido {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    /* Imagen de fondo */
    background-image: url('medias/imagenes/publicidad/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

/* Oscurecer la imagen para que el texto se lea bien */
.publicidad_contenido::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(242, 235, 235, 0.212);
    z-index: 1;
}

/* .container_publicidad h2, */
.publicidad_contenido { 
    position: relative;
    z-index: 2; /* Poner el contenido encima del filtro oscuro */
    color: white;
}

.publicidad_contenido {
    background-image: url('medias/imagenes/publicidad/carros_en_alquiler.jpg');
    margin-top: 20px;
}

.publicidad_contenido p {
    font-size: 20px;
    margin: 10px 0;
}

/* Botón de publicidad */
.publicidad_boton,  button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: rgb(233, 79, 18);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.publicidad_boton:hover {
    background: rgb(233, 79, 18);
}
 
#footer {
    padding: 20px;
}

/* Área superior del footer: los tres bloques */
.footer_top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap; /* Responsive */
    padding-bottom: 30px;
    border-bottom: 1px solid #555;
    border-style: solid;
    border-radius: 15px;
}

/* Cada columna */
.footer_block {
    width: 400px;
    text-align: center;
    padding: 15px;
}

/* Contenido dentro de cada bloque */
.footer_content {
    margin-top: 10px;
    padding: 15px;
}

.footer_content ul {
    list-style: none;
    padding: 0;
}

.footer_content li {
    margin: 5px 0;
}

.footer_content a {
    text-decoration: none;
}

.footer_content a:hover {
    text-decoration: underline;
}

/* Footer inferior */
.footer_bottom {
    text-align: center;
    margin-top: 25px;
}

.whatsapp_box {
    margin-top: 10px;
    border-color: rgb(101, 102, 139);
    padding: 15px;
}

/* Iniciar sesecion */
.login_popup {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
}

.login_popup input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.error{
    color: red;
    margin-top: 5px;
}
     

